@import '../../../config';

section{
    margin: 20px;
    font-size: 14px;
}

.about--section{
    background-color: $alice-Blue;
    color: darken($text-color, 100%);
    border-radius: 5px;
    height: fit-content;
    padding: 2rem;
    margin-top: 4rem;
    .heading{
        padding-bottom: 25px;
    }
    .content:nth-child(n){
        font-size: 15px;
        line-height: 25px;
    }
    .bold--text{
        font-weight: 800;
        font-size: 1rem;
    }
}

@include Large-Screen(991px){
    .content:nth-child(n){
        color: red;
    }
}

