*{
    background-color: #666;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    padding: 5px 10px;
}

.header {
    display: flex;
    gap: 10px;
    border-top: 10px;
  }

  .profile-image{
    border-radius: 20px;
    width: 300px;
    height: auto;
  }

  .fullname{
    color: aliceblue;

  }
.desc{
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #96bbe2;
}

  .social-list-inline{
    display: flex;
    gap: 20px;
  }
  .social-list-inline li{
    list-style: none;
  }

  @media (max-width: 715px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
    
  }