* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.work--experience {
  background-color: #f0f8ff;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  padding: 1.8rem;
}
.work--experience h2 {
  padding-bottom: 15px;
  color: #545e69;
}
.work--experience .parent--div {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 15px;
}
.work--experience .job--title h3 {
  color: #778492;
  font-weight: 700;
  font-size: 18px;
}
.work--experience .job--title h3 span {
  color: #999;
  font-weight: 400;
  font-size: 15px;
}