@import '../../../config';

.work--experience{
    background-color: $alice-Blue;
    color: darken($text-color, 100);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    padding: $padding-text;

    h2{
        padding-bottom: 15px;
        color: #545e69;

    }
    .parent--div{
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-bottom: 15px;
    }
    .job--title{
        h3{
            color: #778492;
            font-weight: 700;
            font-size: 18px;
            span{
                color: #999;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
}