$background-color :  #666;
$text-color : #fff;
$hover-color : #97b6d7;
$alice-Blue : #f0f8ff;

// resets
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin Large-Screen($screen_size) {
    @media only screen and (min-width: $screen_size){
            @content
        }
}
