@import '../../../config'; 

h2, h3 {
    font-size: 18px;
}

@mixin flex-gap($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;

}

body{
    background-color: $background-color;
    color: $text-color;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
  }
//   global settings
  a{
    color: $alice-Blue;
    text-decoration: none;
    &:hover{
        color: $hover-color;
    }
  }

.header {
   @include flex-gap(column, 2rem);
//    height: 100%;
   justify-content: center;
   padding-top: 15px;

    .profile-content{
        align-self: center;
        }
    .profile-image{
        border-radius: 20px;
        width: 250px;
        height: auto;
        align-self: center;
        }
        .fullname{
            color: wheat;
          }
        .desc{
            font-weight: 700;
            font-size: 22px;
            padding: 5px 25px;
            margin-bottom: 10px;
            color: #96bbe2;
        }
        .social-list-inline{
            @include flex-gap(row, 20px);
            justify-content: center;
            align-items: center;
            li{
                list-style: none;
                a{
                    font-size: 30px;
                }
            }
        }
  }
   @include Large-Screen(768px){
        body{
            padding: 3rem
        }
        .header{
            @include flex-gap(row, 5rem);
            justify-content: flex-start;
            padding-left: 20px;
            .desc{
                padding-top: 10px;
            }
            .social-list-inline{
                @include flex-gap(row,40px);
                padding-top: 8px;
            }
        }
   }





  





//    li a{
//     
//   }

//   @media (max-width: 715px) {
//     .header {
//       flex-direction: column;
//       align-items: center;
//       gap: 3rem;
//     }
    
