* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #666;
  color: #fff;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
}

a {
  color: #f0f8ff;
  text-decoration: none;
}
a:hover {
  color: #97b6d7;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding-top: 15px;
}
.header .profile-content {
  align-self: center;
}
.header .profile-image {
  border-radius: 20px;
  width: 250px;
  height: auto;
  align-self: center;
}
.header .fullname {
  color: wheat;
}
.header .desc {
  font-weight: 700;
  font-size: 22px;
  padding: 5px 25px;
  margin-bottom: 10px;
  color: #96bbe2;
}
.header .social-list-inline {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.header .social-list-inline li {
  list-style: none;
}
.header .social-list-inline li a {
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 3rem;
  }
  .header {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .header .desc {
    padding-top: 10px;
  }
  .header .social-list-inline {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 8px;
  }
}